<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        Detalles del estudiante
      </li>
    </ol>
  </nav>

  <div class="row mt-4">
    <div class="col-md mb-3">
      <h5>
        Nombres:
        <small class="text-muted">{{ studentData?.name | titlecase }} </small>
      </h5>
    </div>
    <div class="col-md mb-3">
      <h5>
        Apellidos:
        <small class="text-muted">{{
          studentData?.lastname | titlecase
        }}</small>
      </h5>
    </div>
    <div class="col-md mb-3">
      <h5>
        Edad:
        <small class="text-muted">{{ studentData?.age }}</small>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md mb-3">
      <h5>
        Correo electrónico:
        <small class="text-muted">{{ studentData?.email }}</small>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md mb-5">
      <h5>
        Fecha de creación:
        <small class="text-muted">{{
          studentData?.createdAt | date: "fullDate"
        }}</small>
      </h5>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-xs-6 col-sm-8 col-md-9">
      <h4>Cursos asociados</h4>
    </div>
    <div class="d-none d-sm-block col-sm-4 col-md-3">
      <div class="d-flex justify-content-end">
        <a (click)="addAssign()" class="btn btn-success"
          >Asignar curso <i class="fa fa-plus"></i
        ></a>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Horario</th>
          <th scope="col">Fecha inicio</th>
          <th scope="col">Fecha final</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of studentData?.courses; let i = index">
          <th scope="row">
            {{ i + 1 }}
          </th>
          <td>{{ item.name | titlecase }}</td>
          <td>{{ item.schedule | titlecase }}</td>
          <td>{{ item.start_date | date: "fullDate" }}</td>
          <td>{{ item.end_date | date: "fullDate" }}</td>
        </tr>
        <tr *ngIf="visible">
          <td colspan="7">No hay cursos asociados!</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
